.fleet {
  // border: dotted 0.1rem #0ff;
}

.ships {
  // border: solid 1px #f00;
  margin: 0 -0.75rem;
  padding: 0 1.5rem;

  > * {
    // border: solid 1px #f00;
  }

  .fleetName {
    border: solid 2px #f00;
    margin: 0 0 0.1rem;
  }
}
