@import '~material-colors/dist/colors.scss';

.ship {
  // border: dashed 1px #f00;
}

.shipBody > div {
  display: flex;
  // border: dashed 1px #0ff;
  justify-content: space-between;
}

.level,
.morale {
  color: rgba($md-white, 0.87);
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
}

.level {
}

.morale {
  i {
    color: $md-amber-a400;
  }

  color: rgba($md-white, 0.54);
}
