

body {
  height: 100vh;
  background-color: #232C39;
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Avenir Next', Avenir, sans-serif;
}

* {
  box-sizing: border-box;
}

h2 {
}

p {
}

li {
}

a {
}

a:hover {
}
