ul.itemList {
  // border: solid 2px #00f !important;
  padding: 0;
  list-style: none;

  > li.item {
    // border: solid 2px #0ff;
  }
}

.horizontal {
  display: flex;

  > li {
    width: 50%;
    border: solid 1px #f00;
    overflow: hidden;
  }
}
