@import '~material-colors/dist/colors.scss';

$primary-text-alpha: 0.87;
$secondary-text-alpha: 0.54;
$hint-text-alpha: 0.38;
$divider-alpha: 0.12;

.staticPanel {
  width: 100%;
  margin-top: (0.75rem / 2);
  color: rgba($md-white, $primary-text-alpha);

  &.topSpace {
    margin-top: 0.75rem;
  }
}

.title {
  font-size: 0.7rem;
  color: rgba($md-white, $hint-text-alpha);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
}

.staticPanelBody {
  // border: dashed 0.1rem #0f0;
}
